/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT: Project Name
VERSION: Version Number
-------------------------------------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700&display=swap";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cantarell:400,700&display=swap');

.contain {object-fit: contain;}

.footer-section h5{
  margin-bottom: 5px;
  margin-top: 20px;

}

.uk-open{
  background: rgba(0, 0, 0, 0.7);
  /*As there isn't firefox support for this I won't use it*/
  /*backdrop-filter: blur(8px);*/
}

.uk-lightbox-toolbar{
  background: rgba(0, 0, 0, 0);
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.imagemargin {
  margin-bottom: 40px;
}

figcaption p{
  font-size: 0.8em;
  color: grey;
}

figure img{
  border: solid thin black;
  padding: 10px;
}

body {
  line-height: 1.2;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #454545
}

.portfolio h3{
  font-size: 24px;
}

.portfolio section{
  padding-top: 0px;
}

p {
  font-weight: 400;
  color: #454545;
  font-size: 1rem;
  line-height: 1.8;
  font-family: Roboto, sans-serif
}

body.portfolio p {
  font-weight: 400;
  color: #454545;
  font-size: 1rem;
  line-height: 1.8;
  font-family: Cantarell, sans-serif !important;
}

li {
  font-weight: 400;
  color: #454545;
  font-size: 1rem;
  line-height: 1.8;
  font-family: Cantarell, sans-serif
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: Cantarell, sans-serif;
  line-height: 1.2;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 80px
}

@media(max-width:991px) {

  h1,
  .h1 {
    font-size: 65px
  }
}

h2,
.h2 {
  font-size: 60px
}

@media(max-width:991px) {

  h2,
  .h2 {
    font-size: 50px
  }
}

h3,
.h3 {
  font-size: calc(20px + 0.8vw);
  font-weight: bold;
}

h4,
.h4 {calc(10px + 0.8vw)
  font-size: 22px
}

h5,
.h5 {
  font-size: 18px
}

h6,
.h6 {
  font-size: 14px
}


.btn {
  font-size: 22px;
  font-family: playfair display, serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease
}


/*This is just for buttons*/
.portfolio-button {
  font-size: 22px;
  font-family: Roboto, sans-serif;
  padding: 16px 44px;
  border-radius: 0 !important;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  outline-style: solid !important;
  outline-color: black !important;
  color: black !important;
  cursor: pointer !important;
  background: white;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important
}

.btn:active {
  box-shadow: none
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px
}

.btn-primary {
  background: #41228e;
  color: #fff
}

.btn-primary:active {
  background: #542cb7
}

.btn-primary:hover {
  background: #542cb7
}

.btn-primary.focus,
.btn-primary.active {
  background: #542cb7;
  box-shadow: none !important;
  outline: none !important;
}

.btn-transparent {
  background: transparent;
  color: #41228e;
  font-weight: 700
}

.btn-transparent:active,
.btn-transparent:hover {
  color: #41228e
}

.btn:focus.portfolio-button {
  box-shadow: none !important;
  background: white !important;
  color: black;
  outline-style: solid !important;
  outline-color: black !important;
}

.portfolio-button.btn:active {
  box-shadow: none;
  background: black !important;
  color: white !important;
  outline-style: solid !important;
  outline-color: black !important;
}

.portfolio-button.btn-primary {
  background: white;
  color: black !important;
}

.portfolio-button.btn-primary:active {
  background: white !important;
  color: black;
}

.portfolio-button.btn-primary:hover {
  background: black;
  color: white !important;
}

.portfolio-button.btn-primary.focus,
.btn-primary.active {
  box-shadow: black !important;
  background: black !important;
  color: white !important;
  outline-style: solid !important;
  outline-color: black !important;
}

body {
  background-color: #fff;
  overflow-x: hidden
}

::selection {
  background: black;
  color: white;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center
}

ol,
/*ul {*/
/*  list-style-type: none;*/
/*  margin: 0*/
/*}*/

img {
  vertical-align: middle;
  border: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

a.text-dark:hover {
  color: #41228e !important
}

a:hover {
  color: #41228e
}

.slick-slide {
  outline: 0
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 00px
}

.section {
  padding-top: 80px;
  padding-bottom: 80px
}



.section-title {
  margin-bottom: 80px;
  /*font-family: bwnistaint-xbd*/
}

.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5
}

.outline-0 {
  outline: 0 !important
}

.d-unset {
  display: unset !important
}

.bg-primary {
  background: #ffffff  !important
}

.bg-gray {
  background: #eaeaea !important
}

.text-primary {
  color: #41228e !important
}

.text-color {
  color: #4c4c4c
}

.text-dark {
  color: #000 !important
}

.text-light {
  color: #999 !important
}

.mb-10 {
  margin-bottom: 10px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mb-90 {
  margin-bottom: 90px !important
}

.mb-100 {
  margin-bottom: 100px !important
}

.zindex-1 {
  z-index: 1
}

.rounded-lg {
  border-radius: 15px
}

.overflow-hidden {
  overflow: hidden
}

.font-secondary {
  font-family: playfair display, serif !important
}

.font-tertiary {
  font-family: bwn !important
}

.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important
}

.bg-dark {
  background-color: #222 !important
}

.icon {
  font-size: 45px
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center
}

.icon-light {
  color: #c8d5ef
}

.slick-dots {
  text-align: center;
  padding-left: 0
}

.slick-dots li {
  display: inline-block;
  margin: 2px
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, .5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: #41228e;
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}

.card {
  border: 0
}

.card-header {
  border: 0
}

.card-footer {
  border: 0
}

.navigation {
  padding: 40px 130px;
  transition: .3s ease
}

.navigation.nav-bg {
  background-color: white;
  padding: 15px 100px
}

@media(max-width:991px) {
  .navigation.nav-bg {
    padding: 15px 20px
  }
}

@media(max-width:991px) {
  .navigation {
    padding: 20px;
    background: white;
  }
}

.navbar .nav-item .nav-link {
  font-family: Roboto, sans-serif;
  /*text-transform: uppercase;*/
  padding: 15px;
  color: black;
  font-size:130% ;
}

.navbar .nav-item.active {
  font-weight: 700 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000000;
}

.hero-area {
  padding: 250px 0 200px;
  position: relative
}

@media(max-width:767px) {
  .hero-area {
    padding: 200px 0 150px;
    overflow: hidden
  }
}

.hero-area h1 {
  position: relative;
  z-index: 2
}

.layer {
  position: absolute;
  z-index: 1
}

#l1 {
  bottom: 0;
  left: 0
}

#l2 {
  top: 190px;
  left: -250px
}

#l3 {
  top: 200px;
  left: 40%
}

#l4 {
  top: 200px;
  right: 40%
}

#l5 {
  top: 100px;
  right: -150px
}

#l6 {
  bottom: -20px;
  left: 10%
}

#l7 {
  bottom: 100px;
  left: 20%
}

#l8 {
  bottom: 160px;
  right: 45%
}

#l9 {
  bottom: 100px;
  right: -10px
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0
}

.progress-wrapper {
  height: 130px;
  overflow: hidden
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  animation: rotate 6s linear infinite;
  z-index: 10
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, .9);
  transform: translateX(-50%) rotate(0);
  animation: rotate 10s linear -5s infinite;
  z-index: 20
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg)
  }

  100% {
    transform: translateX(-50%) rotate(360deg)
  }
}

.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1
}

.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: #41228e
}

.hover-bg-primary:hover * {
  color: #fff
}

.active-bg-primary {
  transition: .3s ease;
  background: #41228e
}

.active-bg-primary * {
  color: #fff
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1.1)
}

.hover-wrapper:hover img {
  transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center
}

.testimonial-content strong {
  color: #2bfdff;
  font-weight: 400
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px
}

.footer-section {
  padding-top: 0;
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
}

.section-on-footer {
  margin-bottom: -250px
}

.shadow-down {
  position: relative
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, .34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.card-lg {
  flex-direction: row-reverse;
  align-items: center
}

@media(max-width:991px) {
  .card-lg {
    flex-direction: column
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid #41228e;
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px
}

.content strong {
  font-family: playfair display, serif;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  display: inherit;
  line-height: 1.5
}

.page-title-alt {
  padding: 150px 0 70px
}

.border-thick {
  border: 10px solid
}

.drag-lg-top {
  margin-top: -230px
}

@media(max-width:991px) {
  .drag-lg-top {
    margin-top: 0
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1
}


.page-title {
  padding: 150px 0 50px
}

.page-title .container {
  position: relative;
  z-index: 1
}

.filter-controls li {
  cursor: pointer
}

.filter-controls li.active {
  font-weight: 700
}

/*Stuff for icons*/
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    border: solid 1px grey;
    line-height: 6.75em;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-weight: 400;
}

ul.icons li a:before {
    color: #ffffff;
    text-shadow: 1.25px 0px 0px lightgray, -1.25px 0px 0px lightgray, 0px 1.25px 0px lightgray, 0px -1.25px 0px lightgray;
}

ul.icons li a:hover:before {
    text-shadow: 1.25px 0px 0px #454545, -1.25px 0px 0px #454545, 0px 1.25px 0px #454545, 0px -1.25px 0px #454545;
}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 4rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #454545;
}

@media screen and (max-width: 480px) {

    ul.icons li a:before {
        font-size: 1.5rem;
    }

}