{{ define "main" }}
{{ partial "page-title.html" . }}

  <!-- about -->
  <section class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="shadow-down mb-4">
            <img src="{{.Params.AuthorImage | absURL }}" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
          </div>
        </div>
        <div class="col-md-8">
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

{{ end }}
