{{ define "main" }}

  <!-- page title -->
  <section class="page-title bg-primary position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white font-tertiary">{{ .Title }}</h1>
        </div>
      </div>
    </div>
    <!-- background shapes -->
<!---->
  </section>
  <!-- /page title -->

  <!-- about -->
  <section class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ .Content }}
        </div>
        <div class="col-md-4 text-center">
          <div class="shadow-down mb-4">
            <img src="{{.Params.AuthorImage | absURL }}" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
          </div>
<!--          <img src="{{.Params.AuthorSignature | absURL }}" alt="signature" class="img-fluid">-->
<!--          <h4>{{ .Params.Author }}</h4>-->
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

{{ end }}
