{{ define "main" }}
{{ partial "page-title.html" . }}
{{ "<!-- About -->" | safeHTML }}
{{ $about := resources.Get "css/about.css" | minify }}
<link rel="stylesheet" href="{{ $about.Permalink | relURL}}">
<!-- about -->

<section class="uk-margin-large-bottom">
  <div class="uk-container">
    <div class="uk-flex-center" uk-grid>
      <div class="uk-width-1-2 uk-width-1-3@s">
        <img src="{{.Params.AuthorImage | absURL }}" alt="author">
      </div>
      <div class="uk-width-expand@m">
        {{ .Content }}
      </div>
    </div>

  </div>

</section>



<!-- experience -->
<section class="uk-margin-large-bottom">
  <div class="uk-container">
    <h1 class="uk-heading-line uk-text-center uk-heading-medium uk-margin-medium-bottom"><span>Leadership and
        Teamwork</span></h1>


    <div class="uk-child-width-1-4@l uk-child-width-1-2@s uk-child-width  uk-text-center uk-flex-between" uk-grid
      style="padding-left: 20px; padding-right: 20px">

      {{ range .Site.Data.about.leadership.item }}
      <div>
        <div class="uk-card uk-card-default uk-height-large">
          <div class="uk-card-media-top">
            <img class="contain experience" src="{{.logo}}" alt="" style="padding: 20px">
          </div>
          <div class="uk-card-body" style="padding-top: 0">
            <div style="height: 5em">
              <h3 class="uk-card-title">{{.title}}</h3>
            </div>
            <p style="height: 4em">{{.company}}</p>
            <p>{{.duration}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
</section>
<!-- ./experience -->
<!-- /about -->

{{ end }}