<!-- footer -->
<footer class="footer">
  <div class="uk-container">

    <div class="uk-grid-small uk-child-width-1-4@m uk-text-center uk-flex-center uk-margin-medium-bottom" uk-grid>
      <div class="uk-margin-small-bottom">
        <h5 class="uk-margin-small-bottom">Email</h5>
        <a href="mailto:{{.Site.Params.footer.email}}">{{.Site.Params.footer.email}}</a>

      </div>
      <div>
        <h5 class="uk-margin-small-bottom">Address</h5>
          <div uk-lightbox>
            <a href="{{.Site.Params.footer.googlemaps}}" data-caption="{{.Site.Params.footer.address}}"
               data-type="iframe">{{.Site.Params.footer.address}}</a>
          </div>
      </div>
    </div>


    <div class="footer-copyright uk-text-center" style="padding-bottom: 1rem">
      <img loading="lazy" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1.2em;
  width: 1.2em;" alt="Creative Commons">
      <img loading="lazy" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1.2em;
  width: 1.2em;" alt="CC-BY">
      {{ now.Year }}
      {{.Site.Params.Author}}
    </div>
  </div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
