<!-- footer -->
<footer class="footer-section">
  <div class="section-footer">
    <div class="container">
      <div class="contact" style="padding-bottom: 50px">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <a href="mailto:{{.Site.Params.footer.email}}">{{.Site.Params.footer.email}}</a>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <div uk-lightbox>
            <a href="{{.Site.Params.footer.googlemaps}}" data-caption="{{.Site.Params.footer.address}}" data-type="iframe">{{.Site.Params.footer.address}}</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-copyright text-center py-3">&copy;
    <script>
      document.write(new Date().getFullYear())
    </script>
      {{.Site.Params.Author}}



    </div>
  </div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>



