<!-- <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click;" style="padding-right: 3rem">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@s">
                {{ if .IsHome }}
                <li class="uk-active "><a style="font-size: 18px; text-transform: none"
                        href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>
                {{ else }}
                <li><a style="font-size: 18px; text-transform: none" href="/">{{ with .Site.Params.Home }} {{ . }}
                        {{ end }}</a></li>

                {{ end }}
                {{ range .Site.Menus.main }}
                {{ $aURL := .URL | relLangURL }}
                {{ $page := $.Page.Permalink | relLangURL }}
                {{ $aURL2 := split $aURL "/" }}
                {{ $page2 := split $page "/" }}
                {{ $aURL3 := index $aURL2 1 }}
                {{ $page3 := index $page2 1 }}
                {{ if eq $aURL3 $page3 }}
                <li class="uk-active"><a style="font-size: 18px; text-transform:none"
                        href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ else }}
                <li><a style="font-size: 18px; text-transform: none" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
            </ul>

            <a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav" uk-navbar-toggle-icon href="#"></a>

        </div>
    </nav>
</div> -->

<nav
  class="fixed h-16 p-4 bg-white border-b border-gray-200 w-full z-20 flex justify-between"
>
  <div class="flex">
    <span class="visible mr-6 sm:hidden self-center">
      <button aria-label="Open Side Navbar">
        <svg
          fill="none"
          strokeLinecap="round"
          strokeLinejoin="round"
          strokeWidth="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-5"
        >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </span>
  </div>

  <!-- <a
				class="hidden sm:flex"
				href="https://github.com/samrobbins85/notes-site"
				aria-label="GitHub Repository"
			>
				<svg viewBox="0 0 24 24" class="h-5 self-center">
					<path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
				</svg>
            </a> -->
  <div class="flex gap-4 pr-6 text-lg items-center text-gray-700">
    {{ if .IsHome }}

    <p class="font-semibold">
      <a
        style="font-size: 18px; text-transform: none"
        href="{{ .Site.BaseURL }}"
        >{{ with .Site.Params.Home }} {{ . }} {{ end }}</a
      >
    </p>
    {{ else }}

    <p>
      <a style="font-size: 18px; text-transform: none" href="/"
        >{{ with .Site.Params.Home }} {{ . }}
 {{ end }}</a
      >
    </p>

    {{ end }}
 {{ range .Site.Menus.main }}
 {{ $aURL := .URL | relLangURL }}

    {{ $page := $.Page.Permalink | relLangURL }}
 {{ $aURL2 := split $aURL "/" }}

    {{ $page2 := split $page "/" }}
 {{ $aURL3 := index $aURL2 1 }}

    {{ $page3 := index $page2 1 }}
 {{ if eq $aURL3 $page3 }}

    <p class="font-semibold">
      <a style="font-size: 18px; text-transform:none" href="{{ .URL | relURL }}"
        >{{ .Name }}</a
      >
    </p>
    {{ else }}

    <p>
      <a
        style="font-size: 18px; text-transform: none"
        href="{{ .URL | relURL }}"
        >{{ .Name }}</a
      >
    </p>
    {{ end }}
 {{ end }}

  </div>
</nav>

<!-- <div id="sidenav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            {{ if .IsHome }}
            <li class="uk-active"><a style="font-size: 18px" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
            </li>
            {{ else }}
            <li><a style="font-size: 18px" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>

            {{ end }}
            {{ range .Site.Menus.main }}
            {{ $aURL := .URL | relLangURL }}
            {{ $page := $.Page.Permalink | relLangURL }}
            {{ $aURL2 := split $aURL "/" }}
            {{ $page2 := split $page "/" }}
            {{ $aURL3 := index $aURL2 1 }}
            {{ $page3 := index $page2 1 }}
            {{ if eq $aURL3 $page3 }}
            <li class="uk-active"><a style="font-size: 18px" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ else }}
            <li><a style="font-size: 18px" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
        </ul>

    </div>
</div> -->
{{ template "_internal/google_analytics.html" . }}
