{{ define "main" }}
{{ "<!-- Hexagon Stylesheet -->" | safeHTML }}
{{ $hexagons := resources.Get "css/hexagon.css" | minify }}
<link rel="stylesheet" href="{{ $hexagons.Permalink | relURL}}">

{{ "<!-- Index -->" | safeHTML }}
{{ $index := resources.Get "css/index.css" | minify }}
<link rel="stylesheet" href="{{ $index.Permalink | relURL}}">
<!--
  _    _
 | |  | |                             /\
 | |__| |   ___   _ __    ___        /  \     _ __    ___    __ _
 |  __  |  / _ \ | '__|  / _ \      / /\ \   | '__|  / _ \  / _` |
 | |  | | |  __/ | |    | (_) |    / ____ \  | |    |  __/ | (_| |
 |_|  |_|  \___| |_|     \___/    /_/    \_\ |_|     \___|  \__,_|

 -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-black">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
        </div>
      </div>
    </div>


  </section>

<!--
   _____                  _           _     _        _           _
  / ____|                (_)         | |   | |      (_)         | |
 | (___     ___     ___   _    __ _  | |   | |       _   _ __   | | __  ___
  \___ \   / _ \   / __| | |  / _` | | |   | |      | | | '_ \  | |/ / / __|
  ____) | | (_) | | (__  | | | (_| | | |   | |____  | | | | | | |   <  \__ \
 |_____/   \___/   \___| |_|  \__,_| |_|   |______| |_| |_| |_| |_|\_\ |___/


-->
<div class="text-center">
    <ul id="social-media" class="icons">
      {{ range .Site.Languages -}}
      {{ if ne .LanguageName $.Site.Language.LanguageName }}
      <li><a href="/{{ .Lang }}">{{ .LanguageName }}</a></li>
      {{ end }}
      {{ end }}
      {{ if .Site.Data.homepage.social.twitter }}
      <li><a href="https://twitter.com/{{ .Site.Data.homepage.social.twitter }}"  aria-hidden="true"></i> <img class="contain" src="https://cdn.svgporn.com/logos/twitter.svg" ></a></li>
      {{ end }} {{ if .Site.Data.homepage.social.linkedin }}
      <li><a href="https://www.linkedin.com/in/{{ .Site.Data.homepage.social.linkedin }}" aria-hidden="true"></i> <img class="contain" src="https://cdn.svgporn.com/logos/linkedin.svg"></a></li>
      {{ end }} {{ if .Site.Data.homepage.social.github }}
      <li><a href="https://github.com/{{ .Site.Data.homepage.social.github }}"  aria-hidden="true"></i> <img class="contain" src="https://cdn.svgporn.com/logos/github-icon.svg"> </a></li>
      {{ end }} {{ if .Site.Data.homepage.social.gitlab }}
      <li><a href="https://gitlab.com/{{ .Site.Data.homepage.social.gitlab }}" aria-hidden="true"></i> <img class="contain" src="https://cdn.svgporn.com/logos/gitlab.svg"></a></li>
      {{ end }} {{ if .Site.Data.homepage.social.facebook }}
      <li><a href="https://www.facebook.com/{{ .Site.Data.homepage.social.facebook }}"  aria-hidden="true"></i> <img class="contain" src="https://cdn.svgporn.com/logos/facebook.svg"></a></li>
      {{ end }} {{ if .Site.Data.homepage.social.instagram }}
      <li><a href="https://instagram.com/{{ .Site.Data.homepage.social.instagram }}"  aria-hidden="true"></i> <img class="contain" src="https://cdn.svgporn.com/logos/instagram-icon.svg"></a></li>
      {{ end }}{{ if .Site.Data.homepage.social.gmail }}
      <li><a href="mailto:{{ .Site.Data.homepage.social.gmail }}@gmail.com"  aria-hidden="true"></i> <img class="contain" src="https://cdn.svgporn.com/logos/google-gmail.svg"></a></li>
      {{ end }}
    </ul>
</div>


<!--
             _                       _
     /\     | |                     | |
    /  \    | |__     ___    _   _  | |_
   / /\ \   | '_ \   / _ \  | | | | | __|
  / ____ \  | |_) | | (_) | | |_| | | |_
 /_/    \_\ |_.__/   \___/   \__,_|  \__|

-->
  {{ if .Site.Data.homepage.about.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with .Site.Data.homepage.about }}
          <p class="lead text-dark">{{.content | markdownify}}</p>
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.btnText}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}


<!--

   _____   _      _   _   _
  / ____| | |    (_) | | | |
 | (___   | | __  _  | | | |  ___
  \___ \  | |/ / | | | | | | / __|
  ____) | |   <  | | | | | | \__ \
 |_____/  |_|\_\ |_| |_| |_| |___/



-->
{{ if .Site.Data.homepage.skill.enable }}

{{ range .Site.Data.homepage.skill.item }}
<div class="modal fade" id="{{ replace (replace .title " " "_") "." "_" }}" tabindex="-1" role="dialog" aria-labelledby="{{ replace (replace .title " " "_") "." "_" }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_{{ replace (replace .title " " "_") "." "_" }}">{{.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>{{.description | safeHTML}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{ end }}

  <!-- skills -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Skills</h2>
        </div>
      </div>
      <div class="container">
        <h4 class="text-center"><i>Click the images below to find out more</i></h4>
        <div class="row justify-content-center">
          {{ range .Site.Data.homepage.skill.item }}
          <div class="imagemargin col-lg-2 col-md-4 col-sm-6 col-6 text-center">
            <img class="contain lazy skills" src="" data-src="{{.logo}}" alt="{{.company}}" data-toggle="modal" data-target="#{{ replace (replace .title " " "_") "." "_" }}">
            <h4>{{.title }}</h4>
          </div>
          {{ end }}
        </div>
      </div>
    </div>

  </section>
  <!-- /skills -->
  {{ end }}

<!--

  ______                                _
 |  ____|                              (_)
 | |__    __  __  _ __     ___   _ __   _    ___   _ __     ___    ___
 |  __|   \ \/ / | '_ \   / _ \ | '__| | |  / _ \ | '_ \   / __|  / _ \
 | |____   >  <  | |_) | |  __/ | |    | | |  __/ | | | | | (__  |  __/
 |______| /_/\_\ | .__/   \___| |_|    |_|  \___| |_| |_|  \___|  \___|
                 | |
                 |_|

-->




  {{ if .Site.Data.homepage.experience.enable }}
  <!-- experience -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Experience</h2>
        </div>


        <div class="uk-child-width-1-4@l uk-child-width-1-2  uk-text-center uk-flex-between" uk-grid style="padding-left: 20px; padding-right: 20px">

        {{ range .Site.Data.homepage.experience.item }}
          <div>
            <div class="uk-card uk-card-default uk-height-large">
              <div class="uk-card-media-top">
                <img class="contain experience" src="{{.logo}}" alt="" style="padding: 20px">
              </div>
              <div class="uk-card-body" style="padding-top: 0">
                <div style="height: 5em">
                <h3 class="uk-card-title">{{.title}}</h3>
                  </div>
                <p style="height: 4em">{{.company}}</p>
                <p>{{.duration}}</p>
              </div>
            </div>
          </div>
        {{ end }}
        </div>







  </section>
  <!-- ./experience -->
  {{ end }}



<!--Hackathons-->
<section class="section" >
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Hackathons</h2>
      </div>

    </div>
  </div>
</section>
<div class="text-center container">
  <ul id="hexGrid">
  {{range .Site.Data.homepage.hackathons.item}}
    <li class="hex">
      <div class="hexIn">
        <div class="hexLink">
          <img src="{{.image}}" alt="{{.title}}" />

            <a href="{{.url}}" class="text unset">

          <h1>
            {{.title}}</h1></a>

            <a href="{{.url}}" class="text unset">
              <p>
              {{.description}}</p></a>
        </div>
      </div>
    </li>
    {{end}}
  </ul>
</div>

<!--

  ______       _                          _     _
 |  ____|     | |                        | |   (_)
 | |__      __| |  _   _    ___    __ _  | |_   _    ___    _ __
 |  __|    / _` | | | | |  / __|  / _` | | __| | |  / _ \  | '_ \
 | |____  | (_| | | |_| | | (__  | (_| | | |_  | | | (_) | | | | |
 |______|  \__,_|  \__,_|  \___|  \__,_|  \__| |_|  \___/  |_| |_|



-->
  {{ if .Site.Data.homepage.education.enable }}
  <!-- education -->
  <section class="section position-relative">
    <div class="container">

      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Education</h2>
        </div>


      <div class="uk-child-width-1-2@l uk-child-width-1-2  uk-text-center uk-flex-between" uk-grid style="padding-left: 20px; padding-right: 20px">

        {{ range .Site.Data.homepage.education.item }}
        <div>
          <div class="uk-card uk-card-default uk-height-max-large">
            <div class="uk-card-media-top">
              <img class="contain experience" src="{{.image}}" alt="" style="padding: 20px">
            </div>
            <div class="uk-card-body" style="padding-top: 0">
              <div style="height: 5em">
                <h3 class="uk-card-title">{{.academy}}</h3>
              </div>
              <p style="height: 4em">{{.title}}</p>
              <p>{{.year}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      </div>








</section>
{{ end }}









<!--Handle the lazy loading-->






<script>

  document.addEventListener("DOMContentLoaded", function() {
    var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

    if ("IntersectionObserver" in window) {
      let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
        entries.forEach(function(entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            lazyImage.srcset = lazyImage.dataset.src;
            lazyImage.classList.remove("lazy");
            lazyImageObserver.unobserve(lazyImage);
          }
        });
      });

      lazyImages.forEach(function(lazyImage) {
        lazyImageObserver.observe(lazyImage);
      });
    } else {
      // Possibly fall back to a more compatible method here
    }
  });

</script>

{{ end }}
