{{ define "main" }}
{{ "<!-- Hexagon Stylesheet -->" | safeHTML }}
{{ $hexagons := resources.Get "css/hexagon.css" | minify }}
<link
  rel="stylesheet"
  href="{{ $hexagons.Permalink | relURL }}"
/>

<!--
  _    _
 | |  | |                             /\
 | |__| |   ___   _ __    ___        /  \     _ __    ___    __ _
 |  __  |  / _ \ | '__|  / _ \      / /\ \   | '__|  / _ \  / _` |
 | |  | | |  __/ | |    | (_) |    / ____ \  | |    |  __/ | (_| |
 |_|  |_|  \___| |_|     \___/    /_/    \_\ |_|     \___|  \__,_|

 -->
<section class="pt-20">
  <div class="container mt-6 flex justify-center">
    <div class="text-6xl font-black leading-none tracking-tight w-1/2">
      <h1 class="inline-block">Hi! I'm</h1>
      <h1
        class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-teal-400 to-blue-400 inline-block"
      >
        {{ .Site.Data.homepage.banner.title }}

      </h1>
      <h1 class="inline-block">I study Computer Science at</h1>
      <h1 class="text-purple-700 inline-block">Durham University</h1>
    </div>
  </div>
</section>

<section class="py-10 container mx-auto">
  <h2 class="text-center text-2xl">
    I build and contribute to open source software on GitHub, attend Hackathons
  </h2>
</section>

<!--
   _____                  _           _     _        _           _
  / ____|                (_)         | |   | |      (_)         | |
 | (___     ___     ___   _    __ _  | |   | |       _   _ __   | | __  ___
  \___ \   / _ \   / __| | |  / _` | | |   | |      | | | '_ \  | |/ / / __|
  ____) | | (_) | | (__  | | | (_| | | |   | |____  | | | | | | |   <  \__ \
 |_____/   \___/   \___| |_|  \__,_| |_|   |______| |_| |_| |_| |_|\_\ |___/


-->
<div class="py-10">
  <section class=" container mx-auto px-2 ">
    <div class="flex justify-center gap-10">
      {{ if .Site.Data.homepage.social.twitter }}

      <a
        href="https://twitter.com/{{ .Site.Data.homepage.social.twitter }}"
        class="inline-block"
      >
        <img
          class="h-12 object-contain"
          src="https://cdn.svgporn.com/logos/twitter.svg"
          alt="Twitter"
          loading="lazy"
      /></a>
      {{ end }}{{ if .Site.Data.homepage.social.github }}

      <a href="https://github.com/{{ .Site.Data.homepage.social.github }}">
        <img
          class="h-12 object-contain"
          src="https://cdn.svgporn.com/logos/github-icon.svg"
          alt="GitHub"
          loading="lazy"
        />
      </a>
      {{ end }} {{ if .Site.Data.homepage.social.gitlab }}

      <a href="https://gitlab.com/{{ .Site.Data.homepage.social.gitlab }}">
        <img
          class="object-contain"
          src="https://cdn.svgporn.com/logos/gitlab.svg"
          alt="GitLab"
          loading="lazy"
      /></a>
      {{ end }} {{ if .Site.Data.homepage.social.linkedin }}

      <a
        href="https://www.linkedin.com/in/{{ .Site.Data.homepage.social.linkedin }}"
        class="inline-block"
      >
        <img
          class="h-12 object-contain"
          src="https://cdn.svgporn.com/logos/linkedin.svg"
          alt="LinkedIn"
          loading="lazy"
        />
      </a>
      {{ end }} {{ if .Site.Data.homepage.social.facebook }}
 ><a
        href="https://www.facebook.com/{{ .Site.Data.homepage.social.facebook }}"
        class="inline-block"
      >
        <img
          class="h-12 object-contain"
          src="https://cdn.svgporn.com/logos/facebook.svg"
          alt="Facebook"
          loading="lazy"
      /></a>
      {{ end }} {{ if .Site.Data.homepage.social.instagram }}

      <a
        href="https://instagram.com/{{ .Site.Data.homepage.social.instagram }}"
        class="inline-block"
      >
        <img
          class="h-12 object-contain"
          src="https://cdn.svgporn.com/logos/instagram-icon.svg"
          alt="Instagram"
          loading="lazy"
      /></a>
      {{ end }}{{ if .Site.Data.homepage.social.gmail }}

      <a
        href="mailto:{{ .Site.Data.homepage.social.gmail }}@gmail.com"
        class="inline-block"
      >
        <img
          class="h-12 object-contain"
          src="https://cdn.svgporn.com/logos/google-gmail.svg"
          alt="Gmail"
          loading="lazy"
      /></a>
      {{ end }}

    </div>
  </section>
</div>
{{ end }}
