{{ define "main" }}
{{ partial "page-title.html" . }}
{{ "<!-- Publication -->" | safeHTML }}
{{ $publications := resources.Get "css/publication.css" | minify }}
<link rel="stylesheet" href="{{ $publications.Permalink | relURL}}">

<section class="uk-margin-xlarge-bottom">
  {{ if .Site.Data.publication.papers.enabled }}
    <div class="uk-container">
      <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Research Papers</span></h1>
      {{ range .Site.Data.publication.papers.item }}
        <div class="uk-margin-large-bottom">
          <div class="uk-container">
            <div class="uk-flex-center" uk-grid uk-height-match=".publication">
              <div class="uk-width-1-2 uk-width-1-4@s publication">
                <figure>
                  {{ if .image }}
                    <img class="contain publications medium-zoom-image" src="{{.image}}" id="zoom-margin" alt="Graphical abstract">
                  {{ end }}
                  {{ if .date }}
                    <figcaption>{{ .date }}</figcaption>
                  {{ end }}
                </figure>
              </div>
              <div class="uk-width-expand@m publication">
                <h3 class="uk-text-bold">{{.title}}</h3>
                <p class="uk-text"> 
                  {{ if .authors }}
                    Author list: 
                    {{ range .authors }}
                      {{ if eq .author "me"}}
                        <em class="uk-text-italic uk-text-bold">{{$.Site.Params.Author}}</em>
                      {{ else }}
                        <em class="uk-text-italic">{{.author}}</em>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </p>
                {{ if .academy }}
                <p class="uk-text-bolder">{{.academy}}</p>
                {{ end }}
                {{ if .journal }}
                  <p class="uk-text">Journal: <span class="uk-text-italic">{{.journal}}.</span>
                    {{ if .volume }}
                      <span class="uk-text-italic">{{.volume}}</span>
                    {{ end }}
                    {{ if .issue }}
                      (<span class="uk-text-bolder">{{.issue}}</span>)
                    {{ end }}
                    {{ if .status }}
                      ({{ .status }})
                    {{ end }}
                  </p>
                {{ end }}
                <p>
                {{.description}}
                </p>
                <p>
                  {{ if .doi }}
                    <a class="uk-button uk-button-primary" href="https://doi.org/{{.doi}}">DOI</a>
                  {{ end }}
                  {{ if .arxiv_id }}
                    <a class="uk-button uk-button-primary" href="https://arxiv.org/abs/{{.arxiv_id}}">arXiv</a>
                  {{ end }}
                  {{ if .pdf_link }}
                    <a class="uk-button uk-button-primary" href="{{.pdf_link}}">PDF</a>
                  {{ end }}
                  {{ if .pubmed_id }}
                    <a class="uk-button uk-button-primary" href="https://pubmed.ncbi.nlm.nih.gov/{{.pubmed_id}}/">PubMed</a>
                  {{ end }}
                  {{ if .pmc_id }}
                    <a class="uk-button uk-button-primary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{.pmc_id}}/">PMC free article</a>
                  {{ end }}
                  {{ if .code_link }}
                    <a class="uk-button uk-button-primary" href="{{.code_link}}">Code</a>
                  {{ end }}
                  {{ if .data_link }}
                    <a class="uk-button uk-button-primary" href="{{.data_link}}">Data</a>
                  {{ end }}
                  {{ if .contributions }}
                  <a class="uk-button uk-button-primary" uk-toggle="target: #modal_paper_{{ replaceRE "\\W" "_" .title }}">Contributions</a>
                  {{ end }}
                </p>
                {{ if .contributions}}
                  <div id="modal_paper_{{ replaceRE "\\W" "_" .title }}" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                      <button class="uk-modal-close-default" type="button" uk-close></button>
                      <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Contributions to <i>{{.title}}</i></h2>
                      </div>
                      <div class="uk-modal-body">{{ .contributions | safeHTML }}</div>
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}
  
  {{ if .Site.Data.publication.conferences.enabled }}
    <div class="uk-container">
      <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Conference Proceedings</span></h1>
      {{ range .Site.Data.publication.conferences.item }}
        <div class="uk-margin-large-bottom">
          <div class="uk-container">
            <div class="uk-flex-center" uk-grid uk-height-match=".publication">
              <div class="uk-width-1-2 uk-width-1-4@s publication">
                <figure>
                  {{ if .image }}
                    <img class="contain publications medium-zoom-image" src="{{.image}}" id="zoom-margin" alt="Photo">
                  {{ end }}
                  {{ if .date }}
                    <figcaption>{{ .date }}</figcaption>
                  {{ end }}
                </figure>
              </div>
              <div class="uk-width-expand@m publication">
                <h3 class="uk-text-bold">{{.title}}</h3>
                <p class="uk-text"> 
                  {{ if .authors }}
                    Author list: 
                    {{ range .authors }}
                      {{ if eq .author "me"}}
                        <em class="uk-text-italic uk-text-bold">{{$.Site.Params.Author}}</em>
                      {{ else }}
                        <em class="uk-text-italic">{{.author}}</em>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </p>
                {{ if .location }}
                <p class="uk-text-bolder">{{.location}}</p>
                {{ end }}
                {{ if .conference }}
                  <p class="uk-text">In: <span class="uk-text-italic">{{.conference}}.</span>
                    {{ if .pages }}
                      <span class="uk-text-italic">Pages {{.volume}}</span>
                    {{ end }}
                  </p>
                {{ end }}
                <p>
                {{.description}}
                </p>
                <p>
                  {{ if .doi }}
                    <a class="uk-button uk-button-primary" href="https://doi.org/{{.doi}}">DOI</a>
                  {{ end }}
                  {{ if .pdf_link }}
                    <a class="uk-button uk-button-primary" href="{{.pdf_link}}">PDF</a>
                  {{ end }}
                  {{ if .code_link }}
                    <a class="uk-button uk-button-primary" href="{{.code_link}}">Code</a>
                  {{ end }}
                  {{ if .data_link }}
                    <a class="uk-button uk-button-primary" href="{{.data_link}}">Data</a>
                  {{ end }}
                  {{ if .url }}
                    <a class="uk-button uk-button-primary" href="{{.url}}">Link</a>
                  {{ end }}
                  {{ if .contributions }}
                  <a class="uk-button uk-button-primary" uk-toggle="target: #modal_conf_{{ replaceRE "\\W" "_" .title }}">Contributions</a>
                  {{ end }}
                </p>
                {{ if .contributions}}
                  <div id="modal_conf_{{ replaceRE "\\W" "_" .title }}" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                      <button class="uk-modal-close-default" type="button" uk-close></button>
                      <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Contributions to <i>{{.title}}</i></h2>
                      </div>
                      <div class="uk-modal-body">{{ .contributions | safeHTML }}</div>
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}
  
  {{ if .Site.Data.publication.books.enabled }}
    <div class="uk-container">
      <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Books and book chapters</span></h1>
      {{ range .Site.Data.publication.books.item }}
        <div class="uk-margin-large-bottom">
          <div class="uk-container">
            <div class="uk-flex-center" uk-grid uk-height-match=".publication">
              <div class="uk-width-1-2 uk-width-1-4@s publication">
                <figure>
                  {{ if .image }}
                    <img class="contain publications medium-zoom-image" src="{{.image}}" id="zoom-margin" alt="Cover">
                  {{ end }}
                  {{ if .date }}
                    <figcaption>{{ .date }}</figcaption>
                  {{ end }}
                </figure>
              </div>
              <div class="uk-width-expand@m publication">
                <h3 class="uk-text-bold">
                  {{ if .chapter }}
                    {{.chapter}}
                  {{ else }}
                    {{.title}}
                  {{ end }}
                </h3>
                <p class="uk-text"> 
                  {{ if .authors }}
                    By: 
                    {{ range .authors }}
                      {{ if eq .author "me"}}
                        <em class="uk-text-italic uk-text-bold">{{$.Site.Params.Author}}</em>
                      {{ else }}
                        <em class="uk-text-italic">{{.author}}</em>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </p>
                {{ if .chapter }}
                  <p class="uk-text-bolder">
                    {{ if .pages }}
                      In: {{.title}}, <span class="uk-text-italic">Pages {{.volume}}</span>
                    {{ else }}
                      In: {{.title}}.
                    {{ end }}
                  </p>
                {{ end }}

                <p class="uk-text-normal">
                  {{ if .publisher }}
                    <span> Publisher: {{ .publisher }}
                    {{ if .location }}
                      , {{ .location }}
                    {{ end }}
                    .</span>
                  {{ end }}
                </p>
                
                <p>
                {{.description}}
                </p>
                <p>
                  {{ if .isbn }}
                    <span>ISBN: {{.isbn}}</span>
                  {{ end }}
                  {{ if .worldcat_id }}
                    <a class="uk-button uk-button-primary" href="https://www.worldcat.org/title/{{.worldcat_id}}">WorldCat</a>
                  {{ end }}
                  {{ if .publisher_link }}
                    <a class="uk-button uk-button-primary" href="{{.publisher_link}}">Publisher</a>
                  {{ end }}
                  {{ if .link }}
                    <a class="uk-button uk-button-primary" href="{{.link}}">Link</a>
                  {{ end }}
                  {{ if .contributions }}
                  <a class="uk-button uk-button-primary" uk-toggle="target: #modal_book_{{ replaceRE "\\W" "_" .title }}">Contributions</a>
                  {{ end }}
                </p>
                {{ if .contributions}}
                  <div id="modal_book_{{ replaceRE "\\W" "_" .title }}" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                      <button class="uk-modal-close-default" type="button" uk-close></button>
                      <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Contributions to <i>{{.title}}</i></h2>
                      </div>
                      <div class="uk-modal-body">{{ .contributions | safeHTML }}</div>
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}
</section>
{{ $zoom := resources.Get "js/medium-zoom-1.0.8.min.js" | minify }}
<script src="{{ $zoom.Permalink | relURL}}"></script>
{{ end }}


